#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}

#bar_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}

#isotype_dot_plot{
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}

#donut_chart{
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}

#diverging_stacked_bar_chart{
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}

#wordcloud{
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}


.pure-g{
	margin-bottom: 20px;
}
